<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="store.csolved.csolved.domain.answer.mapper.AnswerMapper">
    <insert id="insertAnswer" useGeneratedKeys="true" keyProperty="id">
        insert into answers(question_id,
                            user_id,
                            is_anonymous,
                            content,
                            created_at,
                            deleted_at)
        values (#{questionId},
                #{userId},
                #{isAnonymous},
                #{content},
                #{createdAt},
                #{deletedAt});
    </insert>

    <select id="findAllAnswersByQuestionId" resultMap="answerDtoMap">
        select a.id            as answer_id,
               a.question_id   as question_id,
               a.user_id       as user_id,
               a.is_anonymous  as answer_is_anonymous,
               avg(ar.score)   as answer_average_score,
               count(ar.score) as answer_voter_count,
               qu.nickname     as answer_user_nickname,
               a.content       as answer_content,
               a.created_at    as answer_created_at,

               c.id            as comment_id,
               c.answer_id     as comment_answer_id,
               c.user_id       as comment_user_id,
               c.is_anonymous  as comment_is_anonymous,
               au.nickname     as comment_user_nickname,
               c.content       as comment_content,
               c.created_at    as comment_created_at
        from answers as a
                 left join answer_ratings as ar on a.id = ar.answer_id
                 left join users as qu on a.user_id = qu.id
                 left join comments as c on a.id = c.answer_id
                 left join users as au on au.id = c.user_id
        where a.question_id = #{questionId}
        group by a.id,
                 a.question_id,
                 a.user_id,
                 a.is_anonymous,
                 qu.nickname,
                 a.content,
                 a.created_at,
                 c.id,
                 c.answer_id,
                 c.user_id,
                 c.is_anonymous,
                 au.nickname,
                 c.content,
                 c.created_at;
    </select>

    <resultMap id="answerDtoMap" type="store.csolved.csolved.domain.answer.dto.AnswerDto">
        <id property="answerId" column="answer_id"/>
        <result property="questionId" column="question_id"/>
        <result property="userId" column="user_id"/>
        <result property="authorNickname" column="answer_user_nickname"/>
        <result property="isAnonymous" column="answer_is_anonymous"/>
        <result property="content" column="answer_content"/>
        <result property="averageScore" column="answer_average_score"/>
        <result property="voterCount" column="answer_voter_count"/>
        <result property="createdAt" column="answer_created_at"/>
        <collection property="comments" javaType="store.csolved.csolved.domain.comment.dto.CommentDto">
            <id property="commentId" column="comment_id"/>
            <result property="answerId" column="comment_answer_id"/>
            <result property="authorId" column="comment_user_id"/>
            <result property="isAnonymous" column="comment_is_anonymous"/>
            <result property="authorNickname" column="comment_user_nickname"/>
            <result property="content" column="comment_content"/>
            <result property="createdAt" column="comment_created_at"/>
        </collection>
    </resultMap>

    <insert id="insertAnswerScore">
        insert into answer_ratings(answer_id,
                                   user_id,
                                   score)
        values (#{answerId},
                #{userId},
                #{score});
    </insert>
</mapper>