<html th:fragment="guest-template(title,content)" class="h-full">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title th:replace="${title}">기본 타이틀</title>
        
        <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" rel="stylesheet">
        <script src="https://unpkg.com/lucide@latest"></script>
        <script defer src="https://cdnjs.cloudflare.com/ajax/libs/alpinejs/3.13.5/cdn.min.js"></script>
        
        <style>
            [x-cloak] {
                display: none !important;
            }
        </style>
    </head>
    <body class="h-full">
        <!-- 메인 컨테이너 -->
        <div class="min-h-screen w-full bg-gray-50">
            <!-- 컨텐츠 영역 -->
            <div class="max-w-7xl mx-auto px-8 w-full box-border sm:px-4">
                <main th:replace="${content}">
                </main>
            </div>
        </div>
        
        <script>
            window.onload = function () {
                lucide.createIcons();
            };
        </script>
    </body>
</html>