<!DOCTYPE html>
<html lang="en"
      th:replace="~{/layout/default-layout::default-layout(user=${user}, title=~{::title}, content=~{::body})}"
      th:fragment="post-list-layout(title, banner, postType, postContents)">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        
        <title>Blog Home - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="/assets/favicon.ico"/>
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/css/styles.css" rel="stylesheet"/>
    </head>
    <body>
        <script src="/js/list-layout.js"></script>
        <!-- Page header with logo and tagline-->
        <header class="py-5 bg-light border-bottom mb-4">
            <div class="container">
                <div class="text-center my-5">
                    <h1 class="fw-bolder">Welcome to Blog Home!</h1>
                    <p class="lead mb-0">A Bootstrap 5 starter layout for your next blog homepage</p>
                </div>
            </div>
        </header>
        <!-- Page content-->
        <div class="container" th:object="${postContents}">
            <div class="row">
                <!-- Blog entries-->
                <div class="col-lg-8">
                    <!-- Posts -->
                    <div th:if="${#lists.isEmpty(postContents.posts)}">
                        
                        <!-- 게시글이 없을 때 -->
                        <div class="card text-center my-5">
                            <div class="card-body">
                                <h5 class="card-title">게시글이 없습니다</h5>
                                <p class="card-text">첫 번째 글을 작성해보세요!</p>
                                <a th:href="@{'/'+__${postType}__+'/createForm'}" class="btn btn-primary">글 작성하기</a>
                            </div>
                        </div>
                    </div>
                    
                    <div th:if="${!#lists.isEmpty(postContents.posts)}" class="mb-4 d-flex justify-content-end">
                        <!-- 게시글 작성 버튼 -->
                        <a class="btn btn-primary"
                           th:href="@{'/'+__${postType}__+'/createForm'}">
                            <i class="bi bi-pencil-square"></i>
                            게시글 작성하기
                        </a>
                    </div>
                    
                    <!-- 게시글이 존재할 때 -->
                    <div class="card mb-4 card-hover" th:each="post:*{posts}">
                        <a class="card-body text-decoration-none" th:href="@{'/'+__${postType}__+'/' + ${post.id}}">
                            <div class="row">
                                <!--                                <div class="col-md-4">-->
                                <!--                                    <img class="img-fluid rounded-end h-100 object-fit-cover"-->
                                <!--                                         src="/assets/no-image.jpeg"-->
                                <!--                                         alt="..."-->
                                <!--                                         style="width: 850px; height: 350px;"/>-->
                                <!--                                </div>-->
                                <div class="col-md-8">
                                    <!-- 게시글 제목 -->
                                    <p class="card-title fs-4 fw-bolder pt-1 text-truncate" style="max-width: 100%;"
                                       th:text="${post.title}">게시글 제목</p>
                                    
                                    <span class="badge bg-secondary me-1" th:each="tag:${post.tags}"
                                          th:text="${tag.name}">태그명</span>
                                    
                                    <div class="d-flex align-items-center pt-5">
                                        <!-- 카테고리 이름-->
                                        <div class="d-flex align-items-center me-2">
                                            <i class="bi bi-journal-text text-muted me-1"></i>
                                            <div class="col-auto small text-muted" th:text="${post.categoryName}">
                                                자유
                                            </div>
                                        </div>
                                        
                                        <!-- 댓글 수-->
                                        <div class="d-flex align-items-center me-2">
                                            <i class="bi bi-chat-dots text-muted me-1"></i>
                                            <div class="col-auto small text-muted " th:text="${post.answerCount}">
                                                0
                                            </div>
                                        </div>
                                        
                                        <!-- 좋아요 -->
                                        <div class="d-flex align-items-center me-2">
                                            <i class="bi bi-heart-fill text-muted me-1"></i>
                                            <div class="col-auto small text-muted" th:text="${post.likes}">
                                                0
                                            </div>
                                        </div>
                                        <!-- 조회수-->
                                        <div class="d-flex align-items-center me-2">
                                            <i class="bi bi-eye text-muted me-1"></i>
                                            <div class="col-auto small text-muted" th:text="${post.views}">
                                                0
                                            </div>
                                        </div>
                                        <!-- 작성자 -->
                                        <div class="d-flex align-items-center me-2">
                                            <i class="bi bi-person text-muted me-1"></i>
                                            <div class="col-auto small text-muted"
                                                 th:text="${post.anonymous ? '익명' : post.authorNickname}">
                                                글쓴이
                                            </div>
                                        </div>
                                        <!-- 작성 시간 -->
                                        <div class="d-flex align-items-center me-2">
                                            <i class="bi bi-clock text-muted me-1"></i>
                                            <div class="timeago col-auto small text-muted"
                                                 th:data-date="${post.createdAt}">
                                                January 1, 2023
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- 페이지 네이션-->
                    <nav aria-label="Pagination" th:object="${postContents.page}">
                        <hr class="my-0"/>
                        <ul class="pagination justify-content-center my-4">
                            <li>
                                <a th:if="*{currentPage > 1}"
                                   th:onclick="updatePage([[*{currentPage - 1}]]); return false"
                                   class="btn btn-primary text-sm-center">
                                    이전 페이지
                                </a>
                                <button th:unless="*{currentPage > 1}"
                                        disabled
                                        class="btn btn-primary text-sm-center">
                                    이전 페이지
                                </button>
                            </li>
                            <li>
                                <div class="d-flex align-items-center">
                                    <input
                                            type="text"
                                            th:value="*{currentPage}"
                                            th:min="1"
                                            th:max="*{totalPage}"
                                            onkeyup="if(event.key === 'Enter') updatePage(this.value)"
                                            onblur="updatePage(this.value)"
                                            class="form-control" style="max-width: 60px;">
                                    <span class="text-muted ms-2"
                                          th:text="| / *{totalPage}|"></span>
                                </div>
                            </li>
                            <li>
                                <a th:if="*{currentPage < totalPage}"
                                   th:onclick="updatePage([[*{currentPage + 1}]]); return false;"
                                   class="btn btn-primary text-sm-center">
                                    다음 페이지
                                </a>
                                <button th:unless="*{currentPage < totalPage}"
                                        disabled
                                        class="btn btn-primary text-sm-center">
                                    다음 페이지
                                </button>
                            </li>
                        </ul>
                    </nav>
                </div>
                <!-- Side widgets-->
                <div class="col-lg-4">
                    <!-- 검색 위젯 -->
                    <div class="card mb-4">
                        <div class="card-header">검색</div>
                        <div class="card-body sticky-top">
                            <div class="input-group ">
                                <select id="search-select" class="form-select" aria-label="Search type"
                                        style="max-width: 80px;">
                                    <option value="title">제목</option>
                                    <option value="author">글쓴이</option>
                                </select>
                                <input id="search-input" class="form-control" type="text" placeholder="검색어를 입력하세요."
                                       aria-label="Enter search term..." aria-describedby="button-search"/>
                                <button class="btn btn-primary" id="button-search" type="button"
                                        onclick="searchPosts()">
                                    <i class="bi bi-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    
                    <!-- 정렬 위젯-->
                    <div class="card mb-4">
                        <div class="card-header">정렬</div>
                        <div class="card-body">
                            <div class="d-flex flex-column">
                                <select class="form-select" id="sort-select" aria-label="Sort options"
                                        th:with="currentType=${param.sortType != null ? param.sortType[0] : 'recent'}"
                                        onchange="sortPosts()">
                                    <option value="recent" th:selected="${currentType == 'recent'}">최신순</option>
                                    <option value="views" th:selected="${currentType == 'views'}">조회수 많은 순</option>
                                    <option value="answers" th:selected="${currentType == 'answers'}">댓글 많은 순</option>
                                    <option value="likes" th:selected="${currentType == 'likes'}">좋아요 많은 순</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    
                    <!-- 카테고리 위젯 -->
                    <div class="card mb-4">
                        <div class="card-header">카테고리</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <ul class="list-unstyled mb-0" th:each="category:*{categories}">
                                        <li>
                                            <button id="filter-select" class="btn btn-link p-0 text-decoration-none"
                                                    type="button"
                                                    th:value="${category.id}"
                                                    th:text="${category.name}"
                                                    onclick="filterPosts(this.value)">
                                                카테고리 이름
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 사이드 위젯-->
                    <div class="card mb-4">
                        <div class="card-header">사이드 위젯</div>
                        <div class="card-body">You can put anything you want inside of these side widgets. They are easy
                                               to use, and feature the Bootstrap 5 card component!
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
