<!DOCTYPE html>
<html th:replace="~{/layout/default-layout::default-layout(user=${user}, title=~{::title}, content=~{::body})}">
    <head>
        <title>상세 게시글</title>
    </head>
    <body>
        <!-- Prism CSS -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism-okaidia.min.css" rel="stylesheet"/>
        <!-- Prism JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
        <!-- Prism 지원 언어 -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-java.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-javascript.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-python.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-sql.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-markup.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-css.min.js"></script>
        <!-- 상세 포스트 관련 JS -->
        <script src="/js/post-detail.js"></script>
        <!-- TinyMCE 에디터 -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/6.8.2/tinymce.min.js"></script>
        <!--  TinyMCE 에디터 JS-->
        <script src="/js/editor.js" defer data-upload-image-url="/api/upload-image"></script>
        
        <!-- 페이지 내용 -->
        <div class="container mt-5"
             th:with="post=${codeReviewDetails.post}, answers=${codeReviewDetails.answers}">
            
            <!-- 좋아요 중복 시 알림 모달 -->
            <div th:insert="~{/fragments/common/modal::alert-modal('addLikeConflictModal', '알림', '좋아요는 게시글당 한번만 누를 수 있습니다.','확인')}"></div>
            
            <div class="row">
                <div class="col-lg-8"><!-- 전체 포스트-->
                    <div class="card mb-4">
                        <div class="card-body">
                            <article>
                                <!-- 포스트 헤더 -->
                                <header class="mb-4">
                                    <!-- 제목-->
                                    <h3 class="fw-bolder mb-2" th:text="${post.title}">게시글 제목</h3>
                                    
                                    <!-- 태그 리스트-->
                                    <span class="badge bg-secondary text-decoration-none link-light me-1 mb-2"
                                          th:each="tag:${post.tags}"
                                          th:text="${tag.name}">태그 명</span>
                                    
                                    <!-- 게시글 메타 정보 -->
                                    <div class="mb-2">
                                        <div class="me-2 d-inline-flex">
                                            <i class="bi bi-journal-text text-muted"></i>
                                            <span class="text-muted fst-italic"
                                                  th:text=" ${post.categoryName}">
                                            카테고리 이름
                                        </span>
                                        </div>
                                        
                                        <div class="me-2 d-inline-flex">
                                            <i class="bi bi-person text-muted"></i>
                                            <span class="text-muted fst-italic me-2"
                                                  th:text="${post.anonymous ? '익명' : post.authorNickname}">
                                            글쓴이
                                        </span>
                                        </div>
                                        
                                        <div class="me-2 d-inline-flex">
                                            <i class="bi bi-eye text-muted"></i>
                                            <span class="text-muted fst-italic me-2"
                                                  th:text="${post.views}">
                                            조회수
                                        </span>
                                        </div>
                                        
                                        <div class="me-2 d-inline-flex">
                                            <i class="bi bi-clock text-muted"></i>
                                            <span class="timeago text-muted fst-italic me-2"
                                                  th:data-date="${post.createdAt}">
                                            2025-02-07
                                            </span>
                                        </div>
                                        
                                        <span class="me-2 d-inline-flex">
                                           <a class="btn btn-outline-primary btn-xs me-2"
                                              th:if="${post.authorId == user.id}"
                                              th:href="@{/code-review/{id}/updateForm(id=${post.id})}">수정</a>

                                            <button class="btn btn-outline-danger btn-xs"
                                                    th:if="${post.authorId == user.id}"
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#postDeleteConfirmModal">삭제
                                            </button>
                                            
                                            <!-- 게시글 삭제 경고 모달 -->
            <div th:insert="~{fragments/common/modal::danger-modal('postDeleteConfirmModal', '게시글 삭제', '정말 삭제하시겠습니까?', '취소', '삭제', |deletePost('code-review',${post.id})|)}"></div>
                                        
                                        </span>
                                    </div>
                                </header>
                                
                                <!-- 포스트 내용-->
                                <section class="mb-5">
                                    <p class="fs-5 mb-4" th:utext="${post.content}">게시글 내용</p>
                                </section>
                            </article>
                        </div>
                    </div>
                                      <!-- 좋아요 버튼 -->
                    <button class="btn btn-danger mb-4" id="like-button"
                            th:onclick="|addLike('code-review',${post.id})|">
                        <i class="bi bi-heart"></i> 좋아요
                        <span id="like-count" class="ms-1" th:text="${post.likes}">0</span>
                    </button>
                                      <!-- 답변 폼 생성 버튼 -->
                    <button class="btn btn-primary mb-4" id="toggle-comment-form">
                        <i class="bi bi-chat-left-text-fill"></i>
                        답변 달기
                    </button>
                    
                    <div class="card mb-4 d-none" id="comment-card">
                        <div class="card-body" th:object="${answerCreateForm}">
                            <form id="comment-form" class="d-flex flex-column align-items-end"
                                  th:action="@{/code-review/{postId}/answers(postId=${post.id})}"
                                  method="POST">
                                <input type="hidden" name="authorId" th:value="${user.id}"/>
                                <textarea id="medium-editor" class="medium-editor form-control mb-3" rows="3"
                                          placeholder="댓글을 달아 생각을 공유해 주세요!"
                                          th:field="*{content}"
                                          th:classappend="${#fields.hasErrors('content')} ? 'is-invalid' : ''">
                                </textarea>
                                <div th:if="${#fields.hasErrors('content')}"
                                     class="text-danger"
                                     th:errors="*{content}">
                                </div>
                                
                                <div class="d-flex justify-content-between align-items-center w-100 mb-2 mt-3">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="anonymous-checkbox"
                                               th:field="*{anonymous}">
                                        <label class="form-check-label" for="anonymous-checkbox">익명으로 댓글 달기</label>
                                    </div>
                                    <button type="submit" class="btn btn-primary">등록</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <script>
                        document.getElementById('toggle-comment-form').addEventListener('click', function () {
                            const card = document.getElementById('comment-card');
                            card.classList.toggle('d-none');
                        });
                    </script>
                                      
                                      <!-- 답변 섹션-->
                    <section class="mb-5">
                        <div class="card bg-light">
                            <div class="card-body">
                                
                                <div th:if="${#lists.isEmpty(answers)}">
                                    <p class="text-muted">댓글이 비어있습니다. 첫 번째 댓글을 작성해보세요!</p>
                                </div>
                                <!-- 답변과 댓글 -->
                                <div class="d-flex mb-4" th:each="answer:${answers}">
                                    
                                    <!-- 답변 -->
                                    <div class="flex-shrink-0">
                                        <img class="rounded-circle img-fluid"
                                             style="max-width: 40px; max-height: 40px;"
                                             th:src="${answer.anonymous ? '/assets/anonymous.jpg' : answer.authorProfileImage}"
                                             alt="..."/>
                                    </div>
                                    <div class="ms-3" style="width: 90%;">
                                        <div class="block">
                                            <span class="fw-bold"
                                                  th:text="${answer.anonymous} ? '익명' : ${answer.authorNickname}">답쓴이 닉네임
                                            </span>
                                            <span class="timeago text-muted fst-italic ms-1"
                                                  th:data-date="${answer.createdAt}">
                                                1시간 전
                                            </span>
                                            <span class="ms-2">
                                                <button class="btn btn-outline-danger btn-xs"
                                                        th:if="${answer.authorId == user.id}"
                                                        data-bs-toggle="modal"
                                                        th:data-bs-target="${'#answerDeleteConfirmModal' + answer.id}">삭제
                                                </button>
                                                <!-- 답변 삭제 경고 모달 -->
                                    <div th:replace="~{fragments/common/modal::danger-modal(|answerDeleteConfirmModal${answer.id}|, '답변 삭제', '정말 삭제하시겠습니까?', '취소','삭제', |deleteAnswer(${answer.id})|)}"></div>
                                    
                                            </span>
                                        </div>
                                        
                                        <span class="mb-3" style="display: block" th:utext="${answer.content}">
                                            댓글 내용
                                        </span>
                                        
                                        <!-- 댓글 추가 텍스트 -->
                                        <span class="text-primary mt-2 toggle-comment-form"
                                              style="cursor: pointer; display: inline;">
                                            댓글 쓰기
                                        </span>
                                        
                                        <div class="card mt-2 d-none comment-form" style="width: 100%;">
                                            <div class="card-body">
                                                <form class="d-flex flex-column align-items-end"
                                                      method="POST"
                                                      th:action="@{/code-review/{postId}/answers/{answerId}/comment(postId=${post.id}, answerId=${answer.id})}"
                                                      th:object="${commentCreateForm}">
                                                    <input type="hidden" th:name="answerId" th:value="${answer.id}"/>
                                                    <input type="hidden" th:name="authorId" th:value="${user.id}"/>
                                                    
                                                    <textarea
                                                            th:id="|small-editor${answer.id}|"
                                                            class="small-editor form-control mb-3"
                                                            rows="3"
                                                            style="width: 100%;"
                                                            placeholder="답변에 대한 댓글을 작성하세요!"
                                                            th:field="*{content}"
                                                            th:classappend="${#fields.hasErrors('content')} ? 'is-invalid' : ''">
                                                    </textarea>
                                                    
                                                    <div th:if="${#fields.hasErrors()}"
                                                         class="text-danger"
                                                         th:errors="*{content}">
                                                    </div>
                                                    
                                                    <div class="d-flex justify-content-between align-items-center w-100 mb-2 mt-3">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox"
                                                                   id="anonymous-checkbox-${answer.id}"
                                                                   th:field="*{anonymous}">
                                                            <label class="form-check-label"
                                                                   for="anonymous-checkbox-${answer.id}">익명으로 댓글
                                                                                                         달기</label>
                                                        </div>
                                                        <button type="submit" class="btn btn-primary">등록
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        
                                        <!-- 답변에 대한 댓글 -->
                                        <div class="d-flex mt-4" th:each="comment:${answer.comments}">
                                            <div class="flex-shrink-0">
                                                <img class="rounded-circle img-fluid"
                                                     style="max-width: 40px; max-height: 40px;"
                                                     th:src="${comment.anonymous ? '/assets/anonymous.jpg' : comment.authorProfileImage}"
                                                     alt="..."/>
                                            </div>
                                            <div class="ms-3">
                                                <div class="block">
                                                        <span class="fw-bold"
                                                              th:text="${comment.anonymous} ? '익명' : ${comment.authorNickname}">
                                                            댓쓴이 닉네임
                                                        </span>
                                                    <span class="timeage text-muted fst-italic ms-1"
                                                          th:data-date="${comment.createdAt}">16분 전
                                                    </span>
                                                    <span class="ms-2">
                                                        <button class="btn btn-outline-danger btn-xs"
                                                                th:if="${comment.authorId == user.id}"
                                                                data-bs-toggle="modal"
                                                                th:data-bs-target="${'#commentDeleteConfirmModal' + comment.id}">삭제
                                                        </button>
                                                        <!-- 댓글 삭제 경고 모달-->
            <div th:insert="~{fragments/common/modal::danger-modal(|commentDeleteConfirmModal${comment.id}|, '댓글 삭제', '정말 삭제하시겠습니까?', '취소', '삭제', |deleteComment(${comment.id})|)}"></div>
            
                                                    </span>
                                                </div>
                                                
                                                <span th:utext="${comment.content}">
                                                And under those conditions, you cannot establish a capital-market
                                                evaluation of that enterprise. You can't get investors.
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <script>
                                    document.querySelectorAll('.toggle-comment-form').forEach(element => {
                                        element.addEventListener('click', function () {
                                            const commentForm = this.nextElementSibling;
                                            commentForm.classList.toggle('d-none');
                                        });
                                    });
                                </script>
                            </div>
                        </div>
                    </section>
                </div>
                <!-- Side widgets-->
                <div class="col-lg-4">
                    <!-- Search widget-->
                    <div class="card mb-4">
                        <div class="card-header">Search</div>
                        <div class="card-body">
                            <div class="input-group">
                                <input class="form-control" type="text" placeholder="Enter search term..."
                                       aria-label="Enter search term..." aria-describedby="button-search"/>
                                <button class="btn btn-primary" id="button-search" type="button">Go!</button>
                            </div>
                        </div>
                    </div>
                    <!-- Categories widget-->
                    <div class="card mb-4">
                        <div class="card-header">Categories</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <ul class="list-unstyled mb-0">
                                        <li><a href="#!">Web Design</a></li>
                                        <li><a href="#!">HTML</a></li>
                                        <li><a href="#!">Freebies</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <ul class="list-unstyled mb-0">
                                        <li><a href="#!">JavaScript</a></li>
                                        <li><a href="#!">CSS</a></li>
                                        <li><a href="#!">Tutorials</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Side widget-->
                    <div class="card mb-4">
                        <div class="card-header">Side Widget</div>
                        <div class="card-body">You can put anything you want inside of these side widgets. They are easy
                                               to use, and feature the Bootstrap 5 card component!
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
