<!DOCTYPE html>
<html th:replace="~{layout/post-create-layout::post-create-template(postContentLayout=~{::post-content-layout})}">
    <head>
        <meta charset="UTF-8">
        <title>게시글 작성</title>
    </head>
    <body>
        <post-content-layout>
            <!-- 게시글 입력창 -->
            <th:block
                    th:replace="~{fragments/common/inputField::input (
                                type='textarea',
                                label='내용 *',
                                name='content',
                                placeholder='내용을 입력하세요.')}"/>
        </post-content-layout>
    </body>
</html>