<html>
    <body>
        <th:block th:fragment="selectOptions(type, label, name, options, selected)">
            <div class="mb-4">
                
                <label class="block text-sm font-medium text-gray-700 mb-1"
                       th:text="${label}">라벨명</label>
                
                <div th:switch="${type}">
                    
                    <!-- 셀렉트 박스 모드-->
                    <div th:case="'selectBox'" class="relative">
                        <select th:field="*{__${name}__}"
                                class="w-full bg-white border border-gray-300 rounded-lg py-2 px-3 appearance-none">
                            <option th:each="option : ${options}"
                                    th:value="${option.id}"
                                    th:text="${option.name}"
                                    th:selected="${option.id == selected}">옵션 이름
                            </option>
                        </select>
                        <i data-lucide="chevron-down" class="absolute right-3 top-3 text-gray-400 w-4 h-4"></i>
                    </div>
                    
                    <!-- 라디오 버튼 모드-->
                    <div th:case="'radioButton'"
                         class="flex items-center space-x-4">
                        <label th:each="option : ${options}" class="inline-flex items-center">
                            <div th:with="value=${option.value}, text=${option.text}">
                                <input type="radio"
                                       th:field="*{__${name}__}"
                                       th:value="${value}"
                                       th:checked="${value == selected}"
                                       class="form-radio text-blue-500">
                                <span class="ml-2" th:text="${text}">옵션 텍스트</span>
                            </div>
                        </label>
                    </div>
                </div>
                
                <!--오류 메시지 -->
                <th:block th:if="${#fields.hasErrors(name)}">
                    <div class="text-red-500 text-sm mt-1" th:errors="*{__${name}__}">에러 메시지</div>
                </th:block>
            </div>
        </th:block>
    
    </body>
</html>