<!--<script defer src="https://cdnjs.cloudflare.com/ajax/libs/alpinejs/3.13.5/cdn.min.js"></script>-->

<!-- 기본 네비게이션 바 -->
<nav th:fragment="default-navigation" class="bg-white shadow-sm">
    <div class="max-w-7xl mx-auto px-4 h-16 flex items-center">
        <th:block th:replace="~{fragments/navigation/logo :: default-logo}"/>
    </div>
</nav>

<!-- 사용자 프로필 네비게이션 바 -->
<nav th:fragment="profile-navigation" class="bg-white shadow-sm">
    <div class="max-w-7xl mx-auto px-4 h-16 flex items-center justify-between">
        <th:block th:replace="~{fragments/navigation/logo :: default-logo}"/>
        <th:block th:replace="~{fragments/navigation/profile :: navigation-profile(${user})}"/>
    </div>
</nav>
