<!DOCTYPE html>
<html lang="en"
      th:replace="~{/layout/default-layout::default-layout(user=${user}, title=~{::title}, content=~{::body})}">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <title>
            공지사항
        </title>
    </head>
    <body>
        <!-- 게시판 배너 -->
        <img src="/assets/notice-banner.svg"
             alt="면접질문 게시판"
             style="width: 100%; max-height: 300px; min-height: 200px"/>
        
        <!-- 페이지 본문 -->
        <div class="container"
             th:object="${noticeListViewModel}">
            <div class="row">
                <div class="col-lg-8">
                    
                    <!-- 공지사항이 없는 경우 : 비었다는 메시지 -->
                    <div th:if="${#lists.isEmpty(noticeListViewModel.posts)}">
                        <div class="card text-center my-5">
                            <div class="card-body">
                                <h5 class="card-title">
                                    공지사항이 없습니다
                                </h5>
                                <p class="card-text">
                                    공지사항이 텅~ 비었습니다!
                                </p>
                                <a class="btn btn-primary"
                                   th:if="${user.admin}"
                                   th:href="@{/notice/createForm}">
                                    글 작성하기
                                </a>
                            </div>
                        </div>
                    </div>
                    
                    <!-- 공지사항이 있는 경우 : 공지사항 작성 버튼 보여주기 -->
                    <div th:if="${!#lists.isEmpty(noticeListViewModel.posts)} and
                                ${user.admin}"
                         class="mb-4 d-flex justify-content-end">
                        <!-- 게시글 작성 버튼 -->
                        <a class="btn btn-primary"
                           th:href="@{/notice/createForm}">
                            <i class="bi bi-pencil-square"></i>
                            공지사항 작성하기
                        </a>
                    </div>
                    
                    <!-- 공지사항이 있는 경우 : 공지사항 리스트 보여주기 -->
                    <div class="card mb-4 card-hover"
                         th:each="post:*{posts}">
                        <a class="card-body text-decoration-none"
                           th:href="@{/notice/__${post.id}__}">
                            <div class="row">
                                <div class="col-md-8">
                                    <!-- 제목 -->
                                    <p class="card-title fs-4 fw-bolder pt-1 text-truncate"
                                       style="max-width: 100%;"
                                       th:text="${post.title}">
                                        게시글 제목
                                    </p>
                                    
                                    <div class="d-flex align-items-center flex-wrap pt-5">
                                        
                                        <!-- 댓글수-->
                                        <div class="d-flex align-items-center me-2">
                                            <i class="bi bi-chat-dots text-muted me-1">
                                            </i>
                                            <div class="col-auto small text-muted "
                                                 th:text="${post.answerCount}">
                                                0
                                            </div>
                                        </div>
                                        
                                        <!-- 좋아요 -->
                                        <div class="d-flex align-items-center me-2">
                                            <i class="bi bi-heart-fill text-muted me-1">
                                            </i>
                                            <div class="col-auto small text-muted"
                                                 th:text="${post.likes}">
                                                0
                                            </div>
                                        </div>
                                        <!-- 조회수-->
                                        <div class="d-flex align-items-center me-2">
                                            <i class="bi bi-eye text-muted me-1">
                                            </i>
                                            <div class="col-auto small text-muted"
                                                 th:text="${post.views}">
                                                0
                                            </div>
                                        </div>
                                        <!-- 작성자 -->
                                        <div class="d-flex align-items-center me-2">
                                            <i class="bi bi-person text-muted me-1">
                                            </i>
                                            <div class="col-auto small text-muted"
                                                 th:text="${post.anonymous ? '관리자' : post.authorNickname}">
                                                글쓴이
                                            </div>
                                        </div>
                                        <!-- 작성 시간 -->
                                        <div class="d-flex align-items-center me-2">
                                            <i class="bi bi-clock text-muted me-1">
                                            </i>
                                            <div class="timeago col-auto small text-muted"
                                                 th:data-date="${post.createdAt}">
                                                1시간 전
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- 페이지 네이션-->
                    <nav aria-label="Pagination"
                         th:object="${noticeListViewModel.page}">
                        <hr class="my-0"/>
                        <ul class="pagination justify-content-center my-4">
                            <li>
                                <a class="btn btn-primary text-sm-center"
                                   th:if="*{currentPage > 1}"
                                   th:onclick="updatePage([[*{currentPage - 1}]]); return false">
                                    이전 페이지
                                </a>
                                <button disabled
                                        class="btn btn-primary text-sm-center"
                                        th:unless="*{currentPage > 1}">
                                    이전 페이지
                                </button>
                            </li>
                            <li>
                                <div class="d-flex align-items-center">
                                    <input type="text"
                                           onkeyup="if(event.key === 'Enter') updatePage(this.value)"
                                           onblur="updatePage(this.value)"
                                           class="form-control" style="max-width: 60px;"
                                           th:value="*{currentPage}"
                                           th:min="1"
                                           th:max="*{totalPage}">
                                    <span class="text-muted ms-2"
                                          th:text="| / *{totalPage}|">
                                    </span>
                                </div>
                            </li>
                            <li>
                                <a class="btn btn-primary text-sm-center"
                                   th:if="*{currentPage < totalPage}"
                                   th:onclick="updatePage([[*{currentPage + 1}]]); return false;">
                                    다음 페이지
                                </a>
                                <button
                                        disabled
                                        class="btn btn-primary text-sm-center"
                                        th:unless="*{currentPage < totalPage}">
                                    다음 페이지
                                </button>
                            </li>
                        </ul>
                    </nav>
                </div>
                <!-- 사이드 위젯 -->
                <div class="col-lg-4">
                    <!-- 검색 위젯 -->
                    <div class="card mb-4">
                        <div class="card-header">
                            검색
                        </div>
                        <div class="card-body sticky-top">
                            <form
                                    method="GET"
                                    th:action="@{/notices}">
                                <input type="hidden"
                                       name="page"
                                       value="1"/>
                                <div class="input-group ">
                                    <select id="search-select"
                                            name="searchType"
                                            class="form-select"
                                            style="max-width: 80px;">
                                        <option value="title"
                                                th:selected="${param.searchType != null && param.searchType[0].equals('title') }">
                                            제목
                                        </option>
                                    </select>
                                    <input name="searchKeyword"
                                           
                                           class="form-control"
                                           type="text"
                                           placeholder="검색어를 입력하세요."
                                           th:value="${param.searchKeyword}"/>
                                    <button class="btn btn-primary"
                                            type="submit">
                                        <i class="bi bi-search">
                                        </i>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    
                    <!-- 사이드 위젯-->
                    <div class="card mb-4">
                        <div class="card-header">
                            사이드 위젯
                        </div>
                        <div class="card-body">
                            이후 기능 추가...
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 리스트 레이아웃 -->
        <script src="/js/list-layout.js"></script>
    </body>
</html>
