<!DOCTYPE html>
<html th:replace="~{/layout/guest-layout :: guest-template(~{::title},~{::section})}">
    <head>
        <meta charset="UTF-8">
        <title>Csolved 회원가입</title>
    </head>
    <body>
        <section class="bg-gray-100">
            <div class="min-h-screen flex items-center justify-center p-4">
                <div class="w-full max-w-md bg-white rounded-lg shadow-lg">
                    <!-- 로고 -->
                    <div th:replace="~{/fragments/common/logo::auth-logo}"></div>
                    
                    <!-- 로그인 입력 폼 -->
                    <div class="p-6">
                        <form th:action="@{/auth/signUp}" th:object="${signUpForm}" method="post"
                              onsubmit="return validateSignupForm()">
                            
                            <!-- 회원가입 이메일 입력창-->
                            <th:block
                                    th:replace="~{/fragments/common/inputField::input (type='email', label='이메일 주소', name='email', placeholder='사용할 이메일 주소')}"/>
                            
                            <!-- 회원가입 닉네임 입력창-->
                            <th:block
                                    th:replace="~{/fragments/common/inputField::input(type='text', label='닉네임', name='nickname', placeholder='커뮤니티에서 사용할 닉네임 (2-8자)')}"/>
                            
                            <!-- 회원가입 비밀번호 입력창-->
                            <th:block
                                    th:replace="~{/fragments/common/inputField::input (type='password', label='비밀번호', name='password', placeholder='8자 이상, 영문/숫자/특수문자 조합')}"/>
                            
                            <!-- 회원가입 비밀번호 확인 입력창-->
                            <th:block
                                    th:replace="~{/fragments/common/inputField::input (type='password', label='비밀번호 확인', name='passwordConfirm', placeholder='')}"/>
                            
                            <!-- 개인정보 처리 동의 체크박스-->
                            <div class="flex items-center gap-2 my-5">
                                <input type="checkbox" class="w-4 h-4" required>
                                <label class="text-xs text-gray-600">이용약관 및 개인정보처리방침에 동의합니다</label>
                            </div>
                            
                            <!-- 회원가입 버튼-->
                            <th:block
                                    th:replace="~{/fragments/common/button::button(type='submit', icon='file-pen', color='blue', text='회원가입')}"/>
                        
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>