<!--Submit 버튼-->
<th:block th:fragment="button(type, icon, color, text)">
    <button th:if="${type == 'submit'}"
            th:class="${
                'w-full text-white py-2 rounded-lg transition-colors duration-200 flex items-center justify-center ' +
                (color == 'blue' ? 'bg-blue-500 hover:bg-blue-600' : '') +
                (color == 'red' ? 'bg-red-500 hover:bg-red-600' : '') +
                (color == 'green' ? 'bg-green-500 hover:bg-green-600' : '') +
                (color == 'gray' ? 'bg-gray-500 hover:bg-gray-600' : '')
            }">
        <i th:data-lucide="${icon}" class="w-5 h-5 mr-2"></i>
        <span th:text="${text}">버튼 텍스트</span>
    </button>
</th:block>

<!--Link 버튼-->
<th:block th:fragment="link(icon, color, text, href)">
    <a th:href="${href}"
       th:class="${
           'inline-flex items-center px-6 py-2 text-white font-semibold rounded-lg transition-colors duration-200 shadow-sm ' +
           (color == 'blue' ? 'bg-blue-500 hover:bg-blue-600' : '') +
           (color == 'red' ? 'bg-red-500 hover:bg-red-600' : '') +
           (color == 'green' ? 'bg-green-500 hover:bg-green-600' : '') +
           (color == 'gray' ? 'bg-gray-500 hover:bg-gray-600' : '')
       }">
        <i th:if="${icon}" th:data-lucide="${icon}" class="w-5 h-5 mr-2"></i>
        <span th:text="${text}">버튼 텍스트</span>
    </a>
</th:block>