<html>
    <body>
        <div th:fragment="logo" class="flex items-center my-8">
            <a href="/community?page=1"
               class="flex items-center no-underline text-inherit hover:opacity-80 visited:text-inherit visited:no-underline">
                <div class="w-10 h-10 bg-blue-500 rounded-full"></div>
                <span class="ml-4 font-bold text-lg"> CSolved Platform</span>
            </a>
        </div>
        
        <div th:fragment="auth-logo">
            <div class="text-center p-6">
                <div class="mx-auto bg-blue-500 rounded-full w-16 h-16 flex items-center justify-center mb-4">
                    <i data-lucide="code" class="text-white w-8 h-8"></i>
                </div>
                <h1 class="text-2xl font-bold text-gray-800">CSolved</h1>
                <p class="text-gray-600 mt-2">신입 백엔드 개발자를 위한 취업 도우미 플랫폼</p>
            </div>
        </div>
    </body>
</html>

