<!-- 일반 모달 -->
<div th:fragment="modal(id, title, content, btn1_label, btn2_label, action)">
    <div class="modal fade" th:id="${id}" tabindex="-1" aria-labelledby="${id + 'Label'}" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" th:id="${id + 'Label'}" th:text="${title}"></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" th:utext="${content}"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:fragment="alert-modal(id, title, content, btn_label)" xmlns:th="http://www.w3.org/1999/html">
    <div class="modal fade" th:id="${id}" tabindex="-1" aria-labelledby="${id + 'Label'}" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" th:id="${id + 'Label'}" th:text="${title}"></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" th:utext="${content}"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                            th:text="${btn_label}"></button>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:fragment="danger-modal(id, title, content, btn1_label, btn2_label, action)">
    <div class="modal fade" th:id="${id}" tabindex="-1" aria-labelledby="${id + 'Label'}" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" th:id="${id + 'Label'}" th:text="${title}"></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" th:utext="${content}"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" th:text="${btn1_label}">
                        취소
                    </button>
                    <button type="button" class="btn btn-danger" th:attr="onclick=${action}" th:text="${btn2_label}">
                        확인
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>