<html>
    <head>
    </head>
    <body>
        <nav th:fragment="nav-bar" class="sticky top-0 bg-white shadow-sm border-b border-gray-100 w-full z-10">
            <div class="w-full px-8">
                <div class="flex h-12">
                    <div class="flex gap-12 items-center">
                        <a href="#"
                           class="inline-flex items-center text-base font-medium tracking-wide text-gray-700 border-b-2 border-transparent hover:border-blue-500 hover:text-blue-600 transition-all duration-200">
                            커뮤니티
                        </a>
                        <a href="/questions?page=1"
                           class="inline-flex items-center text-base font-medium tracking-wide text-gray-700 border-b-2 border-transparent hover:border-blue-500 hover:text-blue-600 transition-all duration-200">
                            면접 질문
                        </a>
                        <a href="#"
                           class="inline-flex items-center text-base font-medium tracking-wide text-gray-700 border-b-2 border-transparent hover:border-blue-500 hover:text-blue-600 transition-all duration-200">
                            합격 수기
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </body>
</html>