<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:insert="common/head.html">
        <title>CS Interview Platform</title>
    </head>
    
    <body>
        <th:block th:replace="~{common/navigation :: default-navigation}"/>
        
        <div class="bg-gray-50 p-6 w-full">
            <div class="bg-white rounded-xl shadow-lg p-8 max-w-4xl mx-auto">
                
                <div class="flex justify-between items-center mb-6">
                    <h1 class="text-2xl font-bold text-gray-900">CS 질문 등록</h1>
                </div>
                
                <form id="questionForm" th:action="@{/questions/create}" method="post"
                      th:object="${questionCreateForm}">
                    <div class="space-y-6">
                        
                        <!-- 유저 정보를 넣어줌-->
                        <input type="hidden" name="authorId" th:value="${user.id}">
                        
                        <!-- 익명/실명 토글-->
                        <th:block
                                th:replace="~{fragments/selectField::selectOptions('radioButton', '작성 방식', 'anonymous', ${ {{text:'익명',value:true},{text:'실명',value:false}} }, false)}"/>
                        
                        <!-- 카테고리 선택창 -->
                        <th:block
                                th:replace="~{fragments/selectField::selectOptions('selectBox','카테고리', 'categoryId', ${categories}, ${categories[0].id})}"/>
                        
                        <!-- 태그 입력창-->
                        <th:block
                                th:replace="~{fragments/inputField::input ('tag', '태그', 'tags', '태그를 입력하고 엔터를 누르세요.')}"/>
                        
                        <!-- 제목 입력창-->
                        <th:block th:replace="~{fragments/inputField::input ('text', '제목', 'title', '제목을 입력하세요.')}"/>
                        
                        <!-- 내용 입력창-->
                        <th:block
                                th:replace="~{fragments/inputField::input ('textarea', '내용', 'content', '내용을 입력하세요.')}"/>
                        
                        <!-- 저장 버튼-->
                        <div class="flex justify-between pt-2">
                            <button type="button"
                                    onclick="saveDraft()"
                                    class="px-4 py-2 border border-gray-300 rounded-lg hover:bg-gray-50">
                                임시저장
                            </button>
                            <button type="submit"
                                    class="px-4 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600">
                                등록
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <th:block th:replace="~{common/footer::footer}"/>
        </div>
        <th:block th:replace="~{fragments/inputField::tagManagerScript}"/>
    </body>
</html>