<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="store.csolved.csolved.domain.comment.mapper.CommentMapper">
    <insert id="insertComment">
        insert into comments(answer_id,
                             user_id,
                             is_anonymous,
                             content,
                             created_at,
                             deleted_at)
        values (#{answerId},
                #{userId},
                #{isAnonymous},
                #{content},
                #{createdAt},
                #{deletedAt});
    </insert>

    <select id="findAllCommentsByAnswerId">
        select c.id,
               c.answer_id,
               c.user_id,
               c.is_anonymous,
               u.nickname,
               c.content,
               c.created_at
        from comments as c
                 left join users as u on c.user_id = u.id
        where c.answer_id = #{answerId}
          and c.deleted_at IS NULL;
    </select>
</mapper>